body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid green;
}

form { 
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
}

button:hover {
    background: white;
    color: green;
    box-shadow: 0 0 20px 2px green;
    font-weight: bold;
}

#result {
    text-align: center;
    padding: 20px;
}

.map{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px green;
    border: 2px solid green;
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        width: 90%;
    }
    h1 {
        font-size: 30px;
    }
    form {
       flex-wrap: wrap;
    }
    button {
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
}